@import url('https://fonts.googleapis.com/css?family=Zen+Tokyo+Zoo:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700');
/*--------------------------------------------Colors*/

.bg-color-company-ethos {
    background: white;
}

.bg-color-bullet-info {
    background-color: white;
    color: #4984b8;
}
.bg-color-services {
    background-color: white;
    color: #4984b8;
}
.bg-color-about-us {
    background-color: white;
    color: #4984b8;
}

.ui-menu-color {
    background-color: white;
}
.ui-app-color {
    background-color: white;
}

.section-heading {
    font-family: "Lato", sans-serif, serif;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 40px;
}


h1,h2,h3,h4 {
    margin: 0;
    color: #4984b8;
}

.uppercase {
    text-transform: uppercase;
}

.inline-block {
    display: inline-block;
}

.section-column {
    display: table-cell;
    padding: 0 30px 30px;
    float: none;
}

.section-heading {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    margin-top: 25px;
    margin-bottom: 40px;
}
/*--------------------------------------------Heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}
.company {
    font-family: "Zen Tokyo Zoo", sans-serif, serif;
    font-weight: 700;
    font-size: 88px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: #624768;
}
.ethos {
    font-family: "lato", sans-serif, serif;
    font-weight: 400;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 100px;
    color: #624768;
}
.logo {
    background: url("../images/mindseye.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    min-height: 500px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    margin-bottom: 100px;
}

#nav li {
    font-size: 12px;
}

#nav {
    margin: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #624768;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #624768;
    font-size: 14px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-right: 10px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}
/*--------------------------------------------Hover.css*/

.hvr-sweep-to-bottom:before {
    background: #4984b8;
    height: 100px;
    margin-bottom: 100px;
}
.hvr-sweep-to-top:before {
    background: #4984b8;
    height: 100px;
    margin-bottom: 100px;
}
.hvr-sweep-to-right:before {
    background: #4984b8;
    height: 100px;
    margin-bottom: 100px;
}
.hvr-sweep-to-left:before {
    background: #4984b8;
    height: 100px;
    margin-bottom: 100px;
}
/*--------------------------------------------images*/
.logomw {
    background: url("../images/mindwise.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    min-height: 500px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}
/*--------------------------------------------Footer*/
footer {
    background-color: white;
    color: #624768;
    min-height: 80px;
    margin: 0;
}
.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #624768;
    background: white;
}

.social-links li a i:hover {
    background: #4984b8;
}

.footer-nav {
    color: #624768;

}

#footer-info {
    padding: 20px;
}